.cg-title {
    text-align: center;

    h1 {
        font-size: 35px;
        font-weight: 700;
        color: #333333;
    }

    h2 {
        font-size: 50px;
        font-weight: 700;
        color: #147D41;
        text-align: left;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        color: #333333;
    }
}

body {
    font-family: Poppins;
    margin: 0;
}

button {
    font-family: Poppins;
}

h1,
h2,
p {
    margin: 0;
}

.container {
    max-width: 1440px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}


@media (max-width: 767px) {
    .cg-title {

        h1 {
            font-size: 30px;
        }

        h2 {
            text-align: center;
        }

        p {
            br {
                display: none;
            }
        }
    }
}