.cg-title {
  text-align: center;
}
.cg-title h1 {
  font-size: 35px;
  font-weight: 700;
  color: #333333;
  margin: 0;
}
.cg-title h2 {
  font-size: 50px;
  font-weight: 700;
  color: #147D41;
  margin: 0;
}
.cg-title p {
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}

body {
  font-family: Poppins;
  margin: 0;
}

button {
  font-family: Poppins;
}

.container {
  max-width: 1440px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.cg-btn {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-transform: uppercase;
  background-color: #147D41;
  border: 1px solid #147D41;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 10px 16px;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  font-weight: 500;
}
.cg-btn::after {
  content: ">";
  margin-left: 5px;
}
.cg-btn:hover {
  background-color: #FFFFFF;
  color: #147D41;
}

.cg-card {
  width: calc(50% - 32px);
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 32px;
  border: 2px solid #333333;
  border-radius: 30px;
  text-decoration: none;
  padding: 24px;
  text-align: center;
  display: inline-block;
}
.cg-card__img {
  width: 70%;
  height: auto;
  margin: 0 auto;
}
.cg-card__img img {
  width: 100%;
  height: auto;
}
.cg-card__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.cg-card__inner p {
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}
.cg-card__wrap {
  text-align: right;
}

.qbxp {
  background-color: rgb(250, 247, 242);
  overflow: hidden;
}
.qbxp .qbxp-center-heading {
  position: relative;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 40px;
  z-index: 1;
}
.qbxp .qbxp-center-heading::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: rgb(51, 51, 51);
  z-index: -1;
}
.qbxp .qbxp-center-heading__h2, .qbxp .qbxp-center-heading__desc {
  color: rgb(51, 51, 51);
  max-width: 700px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
}
.qbxp .qbxp-center-heading__h2 {
  background-color: rgb(250, 247, 242);
  font-weight: 400;
  font-size: 35px;
  line-height: 1.2;
  margin-bottom: 16px;
}
.qbxp .qbxp-button {
  display: inline-block;
  border: 2px solid transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-transform: uppercase;
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 8px 24px;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.qbxp .qbxp-button::after {
  content: ">";
  margin-left: 5px;
}
.qbxp .qbxp-button:hover {
  background-color: rgb(24, 24, 24);
}
.qbxp .qbxp-button--santa::before {
  content: "";
  position: absolute;
  left: -18px;
  top: -15px;
  background-image: url("data:image/svg+xml,%3Csvg width='33' height='24' viewBox='0 0 33 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_161_6942)'%3E%3Cpath d='M14.1933 15.4247C19.0781 11.973 26.5818 7.07861 28.9971 5.99996C26.324 3.77524 23.2031 2.08985 19.9059 1.09209C14.6818 -0.512402 6.44533 -0.984312 4.84417 4.19322C4.32855 5.86513 4.70848 11.3797 4.28784 15.3303C4.45067 15.3573 4.6135 15.3977 4.77633 15.4516C5.21054 15.5865 5.59047 15.7483 5.94327 15.937C7.08307 14.1842 8.33143 11.5146 9.41695 10.6247C10.9638 5.60895 8.35856 13.0651 13.8269 15.6809C13.949 15.6 14.0711 15.5056 14.1933 15.4247Z' fill='%23970014'/%3E%3Cpath d='M2.82237 15.2629C1.99465 15.5596 1.72327 15.8966 0.868419 16.6382C0.434208 17.0157 0.0407047 18 0.0407047 18C-0.18997 18.7281 0.515622 19.0247 0.10855 20.3326C0.339224 21.4787 1.03125 21.8966 1.91324 22.1663C2.71381 22.409 3.56867 22.5843 4.38281 22.6247C4.39638 22.5843 4.40995 22.5573 4.42352 22.5169C4.49136 22.2877 1.94038 16.7056 2.15748 15.991C2.25246 15.6674 2.59169 15.4922 2.90378 15.2899C2.87664 15.2899 2.8495 15.2764 2.82237 15.2629C2.82237 15.2629 2.82237 15.2629 2.8088 15.2629H2.82237Z' fill='%23D9D9D9'/%3E%3Cpath d='M4.30139 15.3303C4.30139 15.3303 4.26068 15.3303 4.23354 15.3168C3.7722 15.2359 3.40583 15.4517 2.94448 15.3168C2.60526 15.5056 2.26603 15.6809 2.17104 16.0045C1.95394 16.7191 4.50493 22.3011 4.43708 22.5303C4.43708 22.5708 4.40994 22.5977 4.39637 22.6382C5.99752 22.7056 7.43585 22.2337 7.92433 20.6561C8.48067 18.8629 7.82935 16.9887 5.94325 15.9505C5.59045 15.7618 5.21052 15.6 4.77631 15.4651C4.61348 15.4112 4.45065 15.3708 4.28782 15.3438L4.30139 15.3303Z' fill='%23EBEBEB'/%3E%3Cpath d='M13.8269 15.6809C8.35854 13.0652 10.9638 5.60904 9.41693 10.6248C9.76973 12.863 10.014 15.5192 11.1266 17.6765C11.8187 17.1371 12.7549 16.4495 13.8269 15.6809Z' fill='%23800019'/%3E%3Cpath d='M11.1131 17.6629C11.8051 17.1236 12.7414 16.436 13.8133 15.6674C13.9354 15.5865 14.0576 15.4922 14.1797 15.4113C14.1661 15.5461 14.139 15.6674 14.1118 15.8023C13.7455 18.0135 12.9177 20.8719 16.9071 22.1259C15.2245 23.3933 13.854 24.1888 13.0127 23.9326C12.4021 23.7438 9.34908 20.2113 9.75615 18.8629C9.79686 18.7146 10.2989 18.2697 11.0995 17.6495L11.1131 17.6629Z' fill='%23D9D9D9'/%3E%3Cpath d='M28.9971 6.00002C26.5682 7.06519 19.0781 11.9596 14.1932 15.4247C14.1797 15.5596 14.1525 15.6809 14.1254 15.8157C13.759 18.027 12.9313 20.8854 16.9206 22.1393C20.4214 19.4832 25.2656 14.7775 29.377 13.1731C30.6118 12.6877 32.5793 12.2832 32.9321 11.1371C33.3392 9.80227 31.3174 7.57755 30.5304 6.10788C30.2726 6.02698 29.9741 5.87867 29.7027 5.79777C29.5941 5.7708 29.3499 5.83822 28.97 6.00002H28.9971Z' fill='%23EBEBEB'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_161_6942'%3E%3Crect width='33' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;
  width: 36px;
  height: 26px;
}
.qbxp .snow-flake {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.qbxp .snow-flake--one {
  top: 0;
  left: 0;
  width: 160px;
  height: 180px;
  transform: translate(-67px, -63px);
}
.qbxp .snow-flake--two {
  top: 350px;
  right: 0;
  width: 150px;
  height: 150px;
  transform: translate(60px, 0);
}
.qbxp .snow-flake--three {
  top: 700px;
  left: 0;
  width: 150px;
  height: 150px;
  transform: translate(-60px, 0);
}
.qbxp .snow-flake--four {
  top: 50px;
  right: 0;
  width: 150px;
  height: 170px;
  transform: translate(60px, 0);
}
.qbxp .snow-flake--five {
  top: 800px;
  left: 0;
  width: 150px;
  height: 170px;
  transform: translate(60px, 0);
}
.qbxp .snow-flake--six {
  top: 1450px;
  left: 0;
  width: 120px;
  height: 150px;
  transform: translate(200px, 0);
}
.qbxp .snow-flake--seven {
  top: 2000px;
  right: 0;
  width: 150px;
  height: 170px;
  transform: translate(100px, 0);
}
.qbxp .snow-flake--eight {
  top: 3000px;
  left: 0;
  width: 120px;
  height: 150px;
  transform: translate(200px, 0);
}
.qbxp .snow-flake--nine {
  top: 3050px;
  right: 0;
  width: 150px;
  height: 170px;
  transform: translate(100px, 0);
}
.qbxp .snow-flake--ten {
  top: 3450px;
  left: 0;
  width: 150px;
  height: 170px;
  transform: translate(-80px, 0);
}
.qbxp .snow-flake--eleven {
  top: 50px;
  right: 0;
  height: 150px;
  width: 190px;
  height: 194px;
}
.qbxp .snow-flake--twelve {
  top: 311px;
  left: 20px;
  width: 190px;
  height: 194px;
}
.qbxp .qbxp-hero {
  color: rgb(51, 51, 51);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.qbxp .qbxp-hero .hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  flex: 1;
  min-height: 100vh;
  padding-bottom: 100px;
  padding-top: 250px;
  z-index: 1;
}
.qbxp .qbxp-hero .hero-img {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 42px;
}
.qbxp .qbxp-hero .hero__title {
  font-size: 35px;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 24px;
}
.qbxp .qbxp-hero .hero__desc {
  margin-bottom: 24px;
}
.qbxp .qbxp-hero .hero__desc--green {
  color: rgb(20, 125, 65);
}
.qbxp .qbxp-hero .hero-santa {
  position: absolute;
  left: 0px;
  bottom: 0;
  width: 300px;
  height: 300px;
  z-index: -1;
  transform: translateX(-300px);
}
.qbxp .qbxp-showcase-products {
  position: relative;
}
.qbxp .platter-cards__outer {
  max-width: 90%;
  margin: 0 auto;
}
.qbxp .platter-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  position: relative;
  z-index: 1;
}
.qbxp .platter-card {
  width: calc(50% - 32px);
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 32px;
  border: 2px solid rgb(51, 51, 51);
  border-radius: 30px;
  text-decoration: none;
  padding: 24px;
  display: inline-block;
  background-color: rgb(250, 247, 242);
  color: rgb(51, 51, 51);
}
.qbxp .platter-card__head {
  font-size: 30px;
  line-height: 1.1;
  font-weight: 400;
  color: rgb(51, 51, 51);
  min-height: 66px;
}
.qbxp .platter-card__top {
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(51, 51, 51, 0.93);
}
.qbxp .platter-card__top_text {
  position: absolute;
  padding: 0 10px;
  bottom: 10px;
  right: 0;
  font-size: 16px;
}
.qbxp .platter-card__img {
  width: 70%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}
.qbxp .platter-card__img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.qbxp .platter-card__bottom {
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
}
.qbxp .platter-card__bottom_left {
  width: 35%;
  margin-right: 15px;
  text-align: center;
}
.qbxp .platter-card__bottom_right {
  flex: 1;
}
.qbxp .platter-card__sub-head {
  font-weight: 600;
  margin-bottom: 16px;
}
.qbxp .platter-card__price {
  font-size: 35px;
  font-weight: 500;
  line-height: 1.1;
}
.qbxp .platter-card__price_text {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 16px;
}
.qbxp .platter-card__price--old {
  font-size: 26px;
  text-decoration: line-through;
}
.qbxp .platter-card .qbxp-button {
  padding-left: 16px;
  padding-right: 16px;
}
.qbxp .platter-card__list {
  width: 100%;
  padding-left: 20px;
  list-style: disc;
  font-size: 14px;
}
.qbxp .qbxp-cp {
  position: relative;
}
.qbxp .qbxp-cp__cate {
  display: flex;
  position: relative;
  z-index: 1;
}
.qbxp .qbxp-cp__cate-left {
  width: 25%;
  padding-right: 24px;
  background-position: 0 100px !important;
  background-repeat: no-repeat !important;
  background-size: 80% !important;
}
.qbxp .qbxp-cp__cate-left .qbxp-button {
  margin-top: 16px;
}
.qbxp .qbxp-cp__cate-left-heading {
  font-size: 45px;
  font-weight: 400;
  line-height: 1.1;
  color: rgb(51, 51, 51);
  margin-bottom: 24px;
}
.qbxp .qbxp-cp__cate-right-outer {
  width: 75%;
}
.qbxp .qbxp-cp__cate-right {
  width: 87%;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 42px;
  padding-bottom: 42px;
  border-bottom: 2px solid rgba(51, 51, 51, 0.93);
}
.qbxp .qbxp-cp__cate-right--last-child {
  border-bottom: none;
}
.qbxp .qbxp-cp__prdt {
  width: calc(33.33% - 32px);
  margin-right: 16px;
  margin-left: 16px;
  margin-bottom: 32px;
}
.qbxp .qbxp-cp__prdt:hover {
  color: unset;
}
.qbxp .qbxp-cp__prdt-up {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.qbxp .qbxp-cp__prdt-up .qbxp-button {
  transform: translateY(-20px);
}
.qbxp .qbxp-cp__prdt-info {
  display: flex;
  justify-content: space-between;
  color: rgb(51, 51, 51);
}
.qbxp .qbxp-cp__prdt-brand {
  font-size: 12px;
  display: inline-block;
}
.qbxp .qbxp-cp__prdt-name {
  font-size: 15px;
  font-weight: 600;
}
.qbxp .qbxp-cp__prdt-price {
  font-size: 12px;
  font-weight: 600;
  text-align: right;
  padding-left: 8px;
}
.qbxp .qbxp-cp__prdt-price span {
  font-size: 22px;
}
.qbxp .qbxp-cp__prdt-price--old {
  font-size: 12px;
  text-decoration: line-through;
}
.qbxp .qbxp-becom-master {
  position: relative;
  z-index: 1;
}
.qbxp .qbxp-becom-master::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-image: url("../../../../assets/images/cheeseplatter-footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 400px;
  z-index: -1;
}
.qbxp .becom-master__cards {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 0 140px;
  margin: 0 -16px;
}
.qbxp .becom-master__card {
  width: calc(50% - 32px);
  margin: 0 16px;
  text-align: center;
  color: rgb(51, 51, 51);
}
.qbxp .becom-master__card-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 32px;
}
.qbxp .becom-master__card-imgsec {
  max-width: 600px;
  width: 100%;
  margin: 32px auto 0;
}

@media (max-width: 991px) {
  .qbxp .platter-card {
    width: 100%;
  }
  .qbxp .qbxp-cp__prdt {
    width: calc(50% - 32px);
  }
}
@media (max-width: 764px) {
  .qbxp .qbxp-cp__cate {
    flex-direction: column;
  }
  .qbxp .qbxp-cp__cate-left {
    width: 100%;
    margin-bottom: 32px;
  }
  .qbxp .qbxp-cp__cate-right-outer {
    width: 100%;
  }
  .qbxp .qbxp-cp__cate-right {
    width: 100%;
    padding-bottom: 0px;
  }
  .platter-cards__outer {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .qbxp .qbxp-hero .hero-content {
    padding-bottom: 50px;
  }
  .qbxp .qbxp-hero .hero-santa {
    display: none;
  }
  .qbxp .qbxp-cp__prdt {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .qbxp .qbxp-cp__cate-left {
    height: 250px;
    background-position: 0 0px !important;
    background-size: contain !important;
  }
  .qbxp .qbxp-becom-master::after {
    display: none;
  }
  .qbxp .becom-master__card {
    width: 100%;
  }
  .qbxp .platter-card {
    margin-left: 0;
    margin-right: 0;
  }
}
.cg-cards {
  width: 90%;
  margin: 0 auto;
}
.cg-cards__wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}